@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.bubbly-button {
  width: 170px;
  height: 70px;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #F3354C;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #F3354C; }
  .bubbly-button:focus {
    outline: 0; }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat; }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2); }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards; }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }
.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: #333;
  color: #fff;
  font-family: 'Comfortaa';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%; }
  .wrap .clickerContainer {
    width: 400px;
    height: 470px;
    border: 1px solid #F3354C;
    border-radius: 15px;
    overflow: hidden; }
    .wrap .clickerContainer .header {
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .wrap .clickerContainer .header .header__top {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        padding-top: 20px; }
        .wrap .clickerContainer .header .header__top .header__menu {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
          margin-left: 20px;
          margin-right: 20px; }
      .wrap .clickerContainer .header .header__down {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5%; }
        .wrap .clickerContainer .header .header__down .h1 {
          font-weight: 700;
          font-size: 48px;
          line-height: 21px;
          color: #FFFFFF; }
    .wrap .clickerContainer .main {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(../img/bg.png);
      background-position: top; }
      .wrap .clickerContainer .main .main__header {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        padding-top: 20px; }
      .wrap .clickerContainer .main .main__down {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px; }
        .wrap .clickerContainer .main .main__down .byu__container {
          width: 100%;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .wrap .clickerContainer .main .main__down .byu__container .custom__widht {
            width: 130px;
            height: 40px;
            margin-right: 10px; }
          .wrap .clickerContainer .main .main__down .byu__container .byu__prize {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            margin-left: 10px; }
  .wrap .restart__button {
    width: 100px;
    height: 40px;
    margin-top: 3%;
    background-color: transparent; }

@media screen and (max-width: 500px) {
  .wrap .clickerContainer {
    width: 380px;
    height: 470px;
    border: 1px solid #F3354C;
    border-radius: 15px;
    overflow: hidden; } }
@media screen and (max-width: 400px) {
  .wrap .clickerContainer {
    width: 340px;
    height: 470px;
    border: 1px solid #F3354C;
    border-radius: 15px;
    overflow: hidden; } }

/*# sourceMappingURL=style.css.map */
